.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 50px;
    width: max-content;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirm {
    background-color: #286fb4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    text-align: center;
  }
  
 
  .cancel {
    background-color: #fff;
    color: #000;
    border: 1.2px solid #c0c0c0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    text-align: center;
  }
  

  